.app-container {
    margin: 3vh;
    border: solid;
    border-color: #dee2e6;
    background: #f5f5f5;
    border-width: 1px;
    border-radius: 5px;
    padding: 3vh; 
}

.content-center {
    display: grid !important;
    justify-items: center !important;
}
#toast-container{
    position:sticky;
    z-index:1055;
    top:0
}
#toast-wrapper{
    position:absolute;
    top:0;
    right:0;
    margin:5px
}
#toast-container>#toast-wrapper>.toast{
    min-width:150px
}
#toast-container>#toast-wrapper>.toast>.toast-header strong{
    padding-right:20px
}